<h2>Create a new Pattern</h2>
{{input value=p1 type='number'}}
{{input value=p2 type='number'}}
{{input value=p3 type='number'}}
<button {{action randomize}}>Randomize</button>
<button {{action savePattern}}>Save</button>
<br/><br/>
{{pattern-display pattern=model width="256" height="256"}}
